<!DOCTYPE html>
<html>
<!--node main 
laptop 1280x577
tablet 1280x689
-->

<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="whole_screen"></div>
    <div class="left"></div>
    <div class="middle">
        <div id="stoclin" class="stoclin"
            style="transform:translateX(-570px)translateY(-200px) scale(0.5) rotate(0.25turn);">
            <div class="stoclin_back"></div>
            <div class="stoclin_screen"></div>
            <div class="stoclin_left_fork"></div>
            <div class="stoclin_right_fork"></div>
        </div>
        <div id="cart" class="cart" style="transform:translateX(-510px)translateY(-300px) scale(0.5);"></div>
        <!-- Charger-->
        <div id="0-A-Charger-HP" class="charger">
            <div class="chargerContacts"></div>
            <div class="chargerBody"></div>
            <div class="chargerScreen"></div>
        </div>
        <!--Top pick up points-->
        <div id="0-PickUp1" class="pickZone">0-PickUp1</div>
        <div id="0-PickUp2" class="pickZone">0-PickUp2</div>
        <div id="0-PickUp3" class="pickZone">0-PickUp3</div>
        <!--Bottom left dropping points-->
        <div id="0-Drop1" class="dropZone" onClick="reply_click(this.id)">0-Drop1</div>
        <div id="0-Drop2" class="dropZone" onClick="reply_click(this.id)">0-Drop2</div>
        <div id="0-Drop3" class="dropZone" onClick="reply_click(this.id)">0-Drop3</div>
        <div id="0-Drop4" class="dropZone" onClick="reply_click(this.id)">0-Drop4</div>
        <div id="0-Drop5" class="dropZone" onClick="reply_click(this.id)">0-Drop5</div>
        <div id="0-Drop6" class="dropZone" onClick="reply_click(this.id)">0-Drop6</div>
        <!--Bottom right dropping points-->
        <div id="0-Cargo1" class="dropZone" onClick="reply_click(this.id)">0-Cargo1</div>
        <div id="0-Cargo2" class="dropZone" onClick="reply_click(this.id)">0-Cargo2</div>
        <div id="0-Cargo3" class="dropZone" onClick="reply_click(this.id)">0-Cargo3</div>


    </div>
    <div class="right">
        <div class="create_mission">
            <h3>新規のミッション</h3>
            <h4 id="kara">から</h4>
            <h4 id="made">まで</h4>
            <button class="create_mission_button" onclick="create_mission()" type="button">保存</button>
        </div>
        <div class="mission_status"></div>
        <div class="insert_status">
        </div>

    </div>
    <script src="script.js"></script>
    </div>
</body>