<!DOCTYPE html>
<html>
<!--node main 
laptop 1280x577
tablet 1280x689
-->

<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="whole_screen"></div>
    <div class="left"></div>
    <div class="middle">
        <div id="stoclin" class="stoclin">
            <div class="stoclin_back"></div>
            <div class="stoclin_screen"></div>
            <div class="stoclin_left_fork"></div>
            <div class="stoclin_right_fork"></div>
        </div>

        <!-- Charger-->
        <div id="0-A-Charger-HP" class="charger" style="transform: rotate(0.25turn);">
            <div class="chargerContacts"></div>
            <div class="chargerBody"></div>
            <div class="chargerScreen"></div>
        </div>
        <!--Top pick up points-->
        <div id="0-PickUp1" class="pickZone" onClick="reply_click(this.id)">0-PickUp1</div>
        <div id="0-PickUp2" class="pickZone" onClick="reply_click(this.id)">0-PickUp2</div>
        <div id="0-PickUp3" class="dropZone" onClick="reply_click(this.id)">0-PickUp3</div>
        <div id="0-CargoDrop-1" class="pickZone" onClick="reply_click(this.id)">0-CargoDrop-1</div>
        <div id="0-CargoDrop-2" class="pickZone" onClick="reply_click(this.id)">0-CargoDrop-2</div>
        <div id="0-CargoDrop-3" class="pickZone" onClick="reply_click(this.id)">0-CargoDrop-3</div>
        <!--Bottom left dropping points-->
        <div id="0-Drop1" class="dropZone" onClick="reply_click(this.id)">0-Drop1</div>
        <div id="0-Drop2" class="dropZone" onClick="reply_click(this.id)">0-Drop2</div>
        <div id="0-Drop3" class="dropZone" onClick="reply_click(this.id)">0-Drop3</div>
        <div id="0-Drop4" class="dropZone" onClick="reply_click(this.id)">0-Drop4</div>
        <div id="0-Drop5" class="dropZone" onClick="reply_click(this.id)">0-Drop5</div>
        <div id="0-Drop6" class="dropZone" onClick="reply_click(this.id)">0-Drop6</div>
        <div id="0-Drop7" class="dropZone" onClick="reply_click(this.id)">0-Drop7</div>
        <div id="0-Drop8" class="dropZone" onClick="reply_click(this.id)">0-Drop8</div>
        <div id="0-Drop9" class="dropZone" onClick="reply_click(this.id)">0-Drop9</div>
        <div id="0-Drop_10" class="dropZone" onClick="reply_click(this.id)">0-Drop_10</div>

        <!--Bottom right dropping points-->
        <div id="0-CargoP-1" class="dropZone" onClick="reply_click(this.id)">0-CargoP-1</div>
        <div id="0-CargoP-2" class="dropZone" onClick="reply_click(this.id)">0-CargoP-2</div>
        <div id="0-CargoP-3" class="dropZone" onClick="reply_click(this.id)">0-CargoP-3</div>


    </div>
    <div class="right">
        <div class="create_mission">
            <h3>新規のミッション</h3>
            <h4 id="kara">から</h4>
            <h4 id="made">まで</h4>
            <button class="create_mission_button" onclick="tomaru.create_mission()" type="button">保存</button>
        </div>
        <div id="mission_status" class="mission_status"></div>
        <div class="insert_status">
            <button id="insert_button" class="insert_vehicle" onclick="tomaru.insert_agv()" type="button">挿入する</button>
            <button id="extract_button" class="extract_vehicle" onclick="tomaru.extract_avg()"
                type="button">抜き取る</button>
        </div>

    </div>
    <script src="script.js"></script>
    </div>
</body>